<a href="https://colab.research.google.com/github/darshan-jain/19CSE305-ML/blob/main/Exercise_SVM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise

1. Use famous iris flower dataset from sklearn.datasets to predict flower species using SVM classifier.
2. Measure prediction score by using different Kernal Function
3. Find the best classifer and score for the Kernal Function

# Load the iris flower dataset

In [2]:
# Write your Code Here
# Importing the libraries and dataset
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
dataset = pd.read_csv('https://raw.githubusercontent.com/darshan-jain/19CSE305-ML/main/iris.csv')
dataset.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

## Understand the dataset
1. iris.DESCR > Complete description of dataset
2. iris.data > Data to learn. Each training set is 4 digit array of features. Total 150 training sets
3. iris.feature_names > Array of all 4 feature ['sepal length (cm)','sepal width cm)','petal length (cm)','petal width (cm)']
4. iris.filename > CSV file name
5. iris.target > The classification label. For every training set there is one classification label(0,1,2). Here 0 for setosa, 1 for versicolor and 2 for virginica
6. iris.target_names > the meaning of the features. Its a array >> ['setosa', 'versicolor', 'virginica']
From above details its clear that our data is 'iris.data' and labels are 'iris.target'

Each training example in iris.data is a array of iris.feature_names lets create a dataframe

# Set the Input and Target Column

In [4]:
#Write your Code Here
X = dataset.iloc[:, [1,2,3,4]].values
Y = dataset.iloc[:, 5].values

# Display the shape of the dataset with head and tail portion

In [5]:
#Write your Code Here
dataset.shape

(150, 6)

In [7]:
dataset.head(5)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [6]:
dataset.tail(5)

      Id  SepalLengthCm  ...  PetalWidthCm         Species
145  146            6.7  ...           2.3  Iris-virginica
146  147            6.3  ...           1.9  Iris-virginica
147  148            6.5  ...           2.0  Iris-virginica
148  149            6.2  ...           2.3  Iris-virginica
149  150            5.9  ...           1.8  Iris-virginica

[5 rows x 6 columns]

# Preprocessing missing values

In [8]:
#Write your Code Here
dataset.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

# Preprocessing Duplicate values

In [13]:
dataset.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
145    False
146    False
147    False
148    False
149    False
Length: 150, dtype: bool

In [12]:
#Write your Code Here

print(dataset.duplicated().sum())

0

#  Split the dataset into the Training set and Test set

In [14]:
#Write your Code Here
from sklearn.model_selection import train_test_split
X_Train, X_Test, Y_Train, Y_Test = train_test_split(X, Y, test_size = 0.25, random_state = 0)

# Feature scaling

In [15]:
#Write your Code Here
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_Train = sc_X.fit_transform(X_Train)
X_Test = sc_X.transform(X_Test)

#   Fitting the classifier into the Training set

In [16]:
#Write your Code Here
from sklearn.svm import SVC
classifier = SVC(kernel = 'rbf', random_state = 0)
classifier.fit(X_Train, Y_Train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=0, shrinking=True, tol=0.001,
    verbose=False)

#   Predicting the test set results

In [17]:
#Write your Code Here
Y_Pred = classifier.predict(X_Test)

#   Display the confusion matrix

In [19]:
#Write your Code Here
from sklearn.metrics import classification_report, confusion_matrix
cm = confusion_matrix(Y_Test, Y_Pred)
cm

array([[13,  0,  0],
       [ 0, 15,  1],
       [ 0,  0,  9]])

#   Display the Classification Report

Try by using different Kernal function

In [20]:
#Write your Code Here
print(classification_report(Y_Test, Y_Pred))

                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00        13
Iris-versicolor       1.00      0.94      0.97        16
 Iris-virginica       0.90      1.00      0.95         9

       accuracy                           0.97        38
      macro avg       0.97      0.98      0.97        38
   weighted avg       0.98      0.97      0.97        38

In [25]:
#diff kernel function 
from sklearn.svm import SVC
classifier = SVC(kernel = 'poly', random_state = 0)
classifier.fit(X_Train, Y_Train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='poly',
    max_iter=-1, probability=False, random_state=0, shrinking=True, tol=0.001,
    verbose=False)

In [26]:
Y_Pred = classifier.predict(X_Test)

In [27]:
from sklearn.metrics import classification_report, confusion_matrix
cm = confusion_matrix(Y_Test, Y_Pred)
cm

array([[13,  0,  0],
       [ 0, 16,  0],
       [ 0,  5,  4]])

In [28]:
print(classification_report(Y_Test, Y_Pred))

                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00        13
Iris-versicolor       0.76      1.00      0.86        16
 Iris-virginica       1.00      0.44      0.62         9

       accuracy                           0.87        38
      macro avg       0.92      0.81      0.83        38
   weighted avg       0.90      0.87      0.85        38