<a href="https://colab.research.google.com/github/darshan-jain/19CSE305-ML/blob/main/RegressionModelsMLCS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
import sklearn

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/accelbia/Anime-Recommendation-on-Netflix---ML-Project/main/anime.csv?token=AESZNLWG4Y5VA3BMCIROCPLBTKHWM')
df.head()

   anime_id                              name  ... rating members
0     32281                    Kimi no Na wa.  ...   9.37  200630
1      5114  Fullmetal Alchemist: Brotherhood  ...   9.26  793665
2     28977                          Gintama°  ...   9.25  114262
3      9253                       Steins;Gate  ...   9.17  673572
4      9969                     Gintama&#039;  ...   9.16  151266

[5 rows x 7 columns]

In [ ]:
df.shape

(12294, 7)

In [ ]:
new = df[['episodes','members','rating']]

In [ ]:
new.isnull().sum()

episodes      0
members       0
rating      230
dtype: int64

In [ ]:
new= new.dropna()

In [ ]:
new.shape

(12064, 3)

In [ ]:
new.dtypes

episodes     object
members       int64
rating      float64
dtype: object

In [ ]:
new['episodes'] = pd.to_numeric(new['episodes'],errors = 'coerce')

In [ ]:
new.isnull().sum()

episodes    0
members     0
rating      0
dtype: int64

Feature Engineering 

Using Episodes and Members to get the values of rating

In [ ]:
X = new[['episodes','members']]
Y = new[['rating']]
X.head()

   episodes  members
0       1.0   200630
1      64.0   793665
2      51.0   114262
3      24.0   673572
4      51.0   151266

In [ ]:
Y.head()

   rating
0    9.37
1    9.26
2    9.25
3    9.17
4    9.16

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 1/3, random_state = 0)

In [ ]:
X_test.shape

(3959, 2)

In [ ]:
X_train.shape

(7917, 2)

In [ ]:
y_test.shape

(3959, 1)

In [ ]:
X.isnull().sum()

episodes    0
members     0
dtype: int64

In [ ]:
y_train.shape

(7917, 1)

In [ ]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

# Predicting the Test set results
y_pred = regressor.predict(X_test)

In [ ]:
from sklearn import metrics
print('Mean Absolute Error:',metrics.mean_absolute_error(y_test,y_pred))

Mean Absolute Error: 0.7117298017282594

In [ ]:
print('Mean Squared Error',metrics.mean_squared_error(y_test,y_pred))

Mean Squared Error 0.847505122784521

In [ ]:
print('RMSE:',np.sqrt(metrics.mean_squared_error(y_test,y_pred)))

RMSE: 0.9206004142865247

Random Forest Regressor

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [ ]:
clf = RandomForestRegressor(n_estimators = 3000, random_state = 10)

clf.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=3000, n_jobs=None, oob_score=False,
                      random_state=10, verbose=0, warm_start=False)

In [ ]:
y_pred_rf = clf.predict(X_test)

In [ ]:
from sklearn import metrics
print('Mean Absolute Error:',metrics.mean_absolute_error(y_test,y_pred_rf))

Mean Absolute Error: 0.6150860736193109

In [ ]:
print('Mean Squared Error',metrics.mean_squared_error(y_test,y_pred_rf))

Mean Squared Error 0.6693819357133697

In [ ]:
print('RMSE:',np.sqrt(metrics.mean_squared_error(y_test,y_pred_rf)))

RMSE: 0.8181576472253802