<a href="https://colab.research.google.com/github/darshan-jain/19CSE305-ML/blob/main/SVM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **19CSE305 : MACHINE LEARNING : LAB 10**

# SUPPORT VECTOR MACHINE

The dataset contains details of the purchase of a product based on social network advertisements based on gender, age, and estimated salary.

Target class belongs to two discrete categories of purchased and not purchased.

In this notebook, the prediction is made whether a person will buy a product displayed on a social network advertisement using  SVM.

In [1]:
# Importing the libraries

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Importing the datasets

datasets = pd.read_csv('https://raw.githubusercontent.com/darshan-jain/19CSE305-ML/main/Social_Network_Ads.csv')
X = datasets.iloc[:, [2,3]].values
Y = datasets.iloc[:, 4].values

In [3]:
#Display the dataset
datasets.head(5)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
datasets.tail(5)

      User ID  Gender  Age  EstimatedSalary  Purchased
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

In [5]:
print(datasets.shape)

(400, 5)

In [6]:
#Preprocessing missing values
print(datasets.isnull().sum())

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [7]:
#Preprocessing
#Duplicate values
print(datasets.duplicated())
print(datasets.duplicated().sum())

0      False
1      False
2      False
3      False
4      False
       ...
395    False
396    False
397    False
398    False
399    False
Length: 400, dtype: bool
0

In [8]:
# Splitting the dataset into the Training set and Test set

from sklearn.model_selection import train_test_split
X_Train, X_Test, Y_Train, Y_Test = train_test_split(X, Y, test_size = 0.25, random_state = 0)

In [9]:
# Feature scaling
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_Train = sc_X.fit_transform(X_Train)
X_Test = sc_X.transform(X_Test)

In [10]:
# Fitting the classifier into the Training set

from sklearn.svm import SVC
classifier = SVC(kernel = 'rbf', random_state = 0)
classifier.fit(X_Train, Y_Train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=0, shrinking=True, tol=0.001,
    verbose=False)

In [11]:
# Predicting the test set results
Y_Pred = classifier.predict(X_Test)

In [12]:
classifier.score(X_Train,Y_Train)

0.9133333333333333

In [13]:
classifier.score(X_Test,Y_Test)

0.93

In [14]:
from sklearn.metrics import accuracy_score
accuracy_score(Y_Test, Y_Pred)

0.93

In [15]:
# Making the Confusion Matrix 

from sklearn.metrics import classification_report, confusion_matrix
cm = confusion_matrix(Y_Test, Y_Pred)

In [16]:
print(confusion_matrix(Y_Test, Y_Pred))

[[64  4]
 [ 3 29]]

In [17]:
# Making  Classification Report
print(classification_report(Y_Test, Y_Pred))

              precision    recall  f1-score   support

           0       0.96      0.94      0.95        68
           1       0.88      0.91      0.89        32

    accuracy                           0.93       100
   macro avg       0.92      0.92      0.92       100
weighted avg       0.93      0.93      0.93       100